@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  margin: 0;
  font-family: 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Alata', sans-serif;
  font-size: large;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.582) rgba(71, 71, 71, 0.192)
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: rgba(71, 71, 71, 0.192);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 3px solid rgba(71, 71, 71, 0.192);
}


/* Pacman Loading Animation */
@keyframes ldio-iyylymopdqq-1 {
  0% { transform: rotate(0deg) }
 50% { transform: rotate(-45deg) }
100% { transform: rotate(0deg) }
}
@keyframes ldio-iyylymopdqq-2 {
  0% { transform: rotate(180deg) }
 50% { transform: rotate(225deg) }
100% { transform: rotate(180deg) }
}
.ldio-iyylymopdqq > div:nth-child(2) {
transform: translate(-15px,0);
}
.ldio-iyylymopdqq > div:nth-child(2) div {
position: absolute;
top: 40px;
left: 40px;
width: 120px;
height: 60px;
border-radius: 120px 120px 0 0;
background: #f3e8c9;
animation: ldio-iyylymopdqq-1 1s linear infinite;
transform-origin: 60px 60px
}
.ldio-iyylymopdqq > div:nth-child(2) div:nth-child(2) {
animation: ldio-iyylymopdqq-2 1s linear infinite
}
.ldio-iyylymopdqq > div:nth-child(2) div:nth-child(3) {
transform: rotate(-90deg);
animation: none;
}@keyframes ldio-iyylymopdqq-3 {
  0% { transform: translate(190px,0); opacity: 0 }
 20% { opacity: 1 }
100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-iyylymopdqq > div:nth-child(1) {
display: block;
}
.ldio-iyylymopdqq > div:nth-child(1) div {
position: absolute;
top: 92px;
left: -8px;
width: 16px;
height: 16px;
border-radius: 50%;
background: #2a572c;
animation: ldio-iyylymopdqq-3 1s linear infinite
}
.ldio-iyylymopdqq > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-iyylymopdqq > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-iyylymopdqq > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-grsgb3i7vfl {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: #ffffff;
}
.ldio-iyylymopdqq {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-iyylymopdqq div { box-sizing: content-box; }